{% extends 'base.html.twig' %}
 
{% block title %}Library{% endblock %}
 
{% block body %}
    <br /><br /><br /><br />
    <div class="container-fluid px-4 mt-3">
        <div class="">
            {% for item in library %}
                <div class="col">                  
                  
                                                  
                            <a href="{{ path('library_update', {'id': item.id}) }}">{{library.id}}</a>                                                                                  
                        
                    </div>  
                </div>           
            {% endfor %}    
        </div>
    </div>     
{% endblock %}